.App {
  text-align: center;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;

}

input[type=email], input[type=password],input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  color: #fff;
  background-color: #6c63ff;
  border-color: #6c63ff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.login_image{
  position: relative;
  padding-top: 10px;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 16px;
}


/* Change styles of tag From  */
Form {
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2); 
  border: 1px solid #d4d4d4; 
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
/* Change styles of tag Label text  */
.formLabel {
  text-align: right;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.Errordisplay{
  color:red;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
  span.psw {
     display: block;
     float: none;
  }
  .login_image{
    display: none;
  }
 
}
